@model List<ViewModels.Catalog.Products.ProductListRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start" style="height: 929px;">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel owl-theme owl-loaded">
                    <!-- single-slide -->
                    <!-- single-slide -->

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2220px, 0px, 0px); transition: all 0s ease 0s; width: 6660px;">
                            <div class="owl-item cloned" style="width: 1110px; margin-right: 0px;">
                                <div class="row single-slide align-items-center d-flex">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="banner-content">
                                            <h1>Nike New <br>Collection!</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            </p>
                                            <div class="add-bag d-flex align-items-center">
                                                <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                                <span class="add-text text-uppercase">Add to Bag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="banner-img">
                                            <img class="img-fluid" src="img/caad.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px; margin-right: 0px;">
                                <div class="row single-slide">
                                    <div class="col-lg-5">
                                        <div class="banner-content">
                                            <h1>Nike New <br>Collection!</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            </p>
                                            <div class="add-bag d-flex align-items-center">
                                                <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                                <span class="add-text text-uppercase">Add to Bag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="banner-img">
                                            <img class="img-fluid" src="img/caad.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 1110px; margin-right: 0px;">
                                <div class="row single-slide align-items-center d-flex">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="banner-content">
                                            <h1>Nike New <br>Collection!</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            </p>
                                            <div class="add-bag d-flex align-items-center">
                                                <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                                <span class="add-text text-uppercase">Add to Bag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="banner-img">
                                            <img class="img-fluid" src="img/caad.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 1110px; margin-right: 0px;">
                                <div class="row single-slide">
                                    <div class="col-lg-5">
                                        <div class="banner-content">
                                            <h1>Nike New <br>Collection!</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            </p>
                                            <div class="add-bag d-flex align-items-center">
                                                <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                                <span class="add-text text-uppercase">Add to Bag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="banner-img">
                                            <img class="img-fluid" src="img/caad.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px; margin-right: 0px;">
                                <div class="row single-slide align-items-center d-flex">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="banner-content">
                                            <h1>Nike New <br>Collection!</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            </p>
                                            <div class="add-bag d-flex align-items-center">
                                                <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                                <span class="add-text text-uppercase">Add to Bag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="banner-img">
                                            <img class="img-fluid" src="img/caad.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px; margin-right: 0px;">
                                <div class="row single-slide">
                                    <div class="col-lg-5">
                                        <div class="banner-content">
                                            <h1>Nike New <br>Collection!</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            </p>
                                            <div class="add-bag d-flex align-items-center">
                                                <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                                <span class="add-text text-uppercase">Add to Bag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="banner-img">
                                            <img class="img-fluid" src="img/caad.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><img src="img/banner/prev.png"></div><div class="owl-next" style=""><img src="img/banner/next.png"></div></div><div class="owl-dots" style="display: none;"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                            magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    var url = "/product-" + item.ID + ".html";
                    var addtoCart = "/AddToCart-" + item.ID + ".html";
                    var path = item.ImagePath;

                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="@(Data.SystemConstants.Baseurl+item.ImagePath)" alt="@item.Name">
                            <div class="product-details">
                                <h6>
                                    @item.Name
                                </h6>
                                <div class="price">
                                    <h6>@item.Price.ToString("n0")</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="@addtoCart" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Thêm vào giỏ</p>
                                    </a>

                                    <a href="@url" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem chi tiết</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- single product slide -->
    <div class="single-product-slider">
    </div>
</section>
